<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/stylesheets/style.css" type="text/css">
  <link rel="stylesheet" href="../static/stylesheets/floors.css" type="text/css">
  <link rel="stylesheet" href="../static/stylesheets/thehall.css" type="text/css">
  <script src="https://kit.fontawesome.com/491fea75db.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
  <section class="profileBox pad20v">
    <div class="circlePp"></div>
    <h1 class="promptTitle pad20v">Loni Harwood</h1>
  </section>
  <section class="createPost">
    <p class="fsPoppinsWhite">Create a post</p>
    <i class="fas fa-plus addIcon"></i>
  </section>
  <section class="feedBox">
    <article class="articleHall">
      <p class="profilArticle">Loni Harwood</p>
      <h2 class="titleArticle">Main Event titles</h2>
      <p class="articleContent fsPoppinsWhite">In addition to writing poker columns and providing commentary for several British poker series, Mitchell plays a few tournaments each year, and makes most of her income in cash games.</p>
    </article>
    <article class="articleHall">
      <p class="profilArticle">Loni Harwood</p>
      <h2 class="titleArticle">What about</h2>
      <p class="articleContent fsPoppinsWhite">*concentrates hard on not coming up with funny answers*</p>
    </article>
    <article class="articleHall">
      <p class="profilArticle">Loni Harwood</p>
      <h2 class="titleArticle">RISK/REWARD</h2>
      <p class="articleContent fsPoppinsWhite">To have good enough pot odds, generally you need to have better pot odds than your chance of winning the hand. So if you think you only have a 20% chance to win the hand, you should only play that hand if there is 5 times your bet or more in the pot. This is a risk/reward ratio – if you risk losing the bet, you need to have a big enough reward to make it affordable.</p>
    </article>
  </section>

  <script src="static/scripts/home.js"></script>
</body>
</html>