<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/stylesheets/style.css" type="text/css">
  <link rel="stylesheet" href="../static/stylesheets/thehall.css" type="text/css">
  <script src="https://kit.fontawesome.com/491fea75db.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
  <div class="hallMainBox">
    <a href="/floors"><i class="fas fa-user-alt profilIcon"></i></a>
    <h1 class="tHall promptTitle">The Hall</h1>
    <section class="searchBar">
      <input class="styleInput fsPoppinsWhite" type="text" value="Username">
    </section>
    <section class="feedBox">
      <article class="articleHall">
        <p class="profilArticle">Susan Polgar</p>
        <h2 class="titleArticle">How to play chess</h2>
        <p class="articleContent fsPoppinsWhite">Tactics are short-term calculated sequences of moves resulting in checkmate, the win of material, or some other gain. An understanding of tactics is crucial to playing good chess. Most games, especially at the club level, are decided by tactical mistakes.</p>
      </article>
      <article class="articleHall">
        <p class="profilArticle">Susan Polgar</p>
        <h2 class="titleArticle">How to play chess</h2>
        <p class="articleContent fsPoppinsWhite">Tactics are short-term calculated sequences of moves resulting in checkmate, the win of material, or some other gain. An understanding of tactics is crucial to playing good chess. Most games, especially at the club level, are decided by tactical mistakes.</p>
      </article>
      <article class="articleHall">
        <p class="profilArticle">Susan Polgar</p>
        <h2 class="titleArticle">How to play chess</h2>
        <p class="articleContent fsPoppinsWhite">Tactics are short-term calculated sequences of moves resulting in checkmate, the win of material, or some other gain. An understanding of tactics is crucial to playing good chess. Most games, especially at the club level, are decided by tactical mistakes.</p>
      </article>
    </section>
  </div>
  <script src="static/scripts/home.js"></script>
</body>
</html>