
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: normal;
}
body {
  height: 100vh;
}
.homeMainBox {
  background-color: #394743;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.logInBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.styleInput {
  background: transparent;
  border: none;
  border-bottom: 1px solid #EAEAEA;;
  text-align: center;
  width: 120px;
  color: #EAEAEA;
}
.fsBlueMain {
  font-family: 'Prompt', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  color: #A0E1E6;
}
.fsPoppinsWhite {
  font-family: 'Poppins', sans-serif;
  color: #EAEAEA;

}